.text-center {
  text-align: center;
}

.bg-black {
  background: #111;
  width: 90vh;
}

.mx-auto {
  margin: auto;
}

.flex{
  display: flex;

}
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
  justify-content: center;
}